Resources:
  DeployApplicationZone:
    Type: AWS::Route53::HostedZone
    Properties:
      Name: "k8s.jualelektronik.com"
  
Outputs:
  DeployApplicationZoneArn:
    Description: Deploy Application Zone Id
    Value: { "Ref": "DeployApplicationZone" }
    Export:
      Name: DeployApplicationZoneArn
