Parameters:
  DomainName:
    Description: Beanstalk Domain Name of the Application
    Type: String
    Default: k8s.jualelektronik.com
    ConstraintDescription: Must be a valid Domain Name

Resources:
  DeployApplicationRecordSet:
    Type: "AWS::Route53::RecordSet"
    Properties:
      HostedZoneId: Z2JEFNTHDAMUTJ
      Comment: "Alias targeted ELB Load Balancer"
      Name:
        Ref: DomainName
      Type: "A"
      AliasTarget:
        HostedZoneId: Z1LMS91P8CMLE5
        DNSName: "awseb-e-c-AWSEBLoa-BYMYSEE6US9P-582680686.ap-southeast-1.elb.amazonaws.com"
